body {
  background-color: black;
}

h1 {
  font: garamond;
  text-align: center;
  color: white;
  font-size: 100px;
}

h2 {
  font-family: monospace;
  text-align: center;
  color: white;
}

p {
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.reception {
  width: 800px;
  height: 600px;
}

.bigtime {
  font-size: 100px;
}

img.acc {
  width: 800px;
  height: 600px;
}

img.act {
  width: 800px;
  height: 600px;
}

@media screen and (max-width: 790px) {
  body {
    background-color: blue;
  }
  h1 {
    color: red;
  }
  p {
    font-size: 50px;
  }
  img {
  max-width: 100%;
  height: auto;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: yellow;
    }
  }
  p {
    font-size: 50px;
  }
  img {
  max-width: 100%;
  height: auto;
  }
}
